@import url("fonts.css");
@import url("reset.css");

:root {
  --rust-red: #b83021;
  --forest-green: #63963b;
  --deep-pink: #ce0058;
  --crimson: #960048;
  --charcoal-gray: #252a2d;
  --charcoal-gray-ligth: rgba(37, 42, 45, 0.1);
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-bree {
  font-family: "Bree", sans-serif;
}

.active_stage {
  color: var(--deep-pink);
}

.active_marker {
  background-color: var(--deep-pink);
}

.inactive_stage {
  color: var(--charcoal-gray);
  opacity: 0.5;
}

.inactive_marker {
  background-color: var(--charcoal-gray);
}

.shadow-gray {
  box-shadow: 0px -3px 6px #00000029;
}

/* MARK: MOBILE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-shadow: 0px 3px 6px #00000029;
}

header img {
  object-fit: cover;
  margin-left: 1rem;
}

header a {
  display: block;
  padding: 0.62rem 1.25rem;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  font-size: 1rem;
  color: var(--deep-pink);
  margin-right: 1rem;
}

main {
  height: 80dvh;
  position: relative;
}

main .image_mobile {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

main .image_desktop {
  display: none;
}

main div {
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-block: 11px;
  z-index: 998;
}

main div > button {
  font-weight: 700;
  padding: 18px 75px;
  color: white;
  border: none;
  background-color: var(--deep-pink);
  border-radius: 28px;
}

#start {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-block: 40px;
}

#start > div {
  padding: 0 20px 40px 20px;
}

#start > div p {
  margin-block: 0;
  color: var(--charcoal-gray);
  line-height: 28px;
}

#start img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

h1 {
  font-weight: 600;
  color: var(--deep-pink);
  font-size: 30px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}

#how-to-enter {
  display: grid;
  padding-block: 40px;
}

#how-to-enter > div {
  padding: 0 20px 40px 20px;
}

#how-to-enter > div > h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: var(--deep-pink);
}

#how-to-enter > div span {
  color: var(--charcoal-gray);
  font-weight: 500;
  line-height: 28px;
}

#how-to-enter > div ul {
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

#how-to-enter > div ul li {
  line-height: 28px;
  background-image: url("../assets/images/icon_bullet.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 5px;
  padding-left: 32px;
}

#how-to-enter > div ul li:not(:last-child) {
  margin-bottom: 16px;
}

#how-to-enter img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#steps-to-enter {
  padding: 40px 20px;
}

#steps-to-enter > h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 42px;
  color: var(--deep-pink);
}

#steps-to-enter span {
  font-weight: 500;
  line-height: 28px;
}

#steps-to-enter .steps {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

#steps-to-enter .steps .step_card {
  padding: 16px;
}

#steps-to-enter .steps .step_card h4 {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--deep-pink);
  font-weight: 600;
  font-size: 24px;
  line-height: 56px;
}

#steps-to-enter .steps .step_card p {
  margin-block: 0;
  line-height: 28px;
}

#steps-to-enter .steps .step_card > div {
  display: flex;
  margin-bottom: 8px;
}

#steps-to-enter .steps .step_card > div > .square {
  width: 72px;
  height: 72px;
  background-color: #faf9f7;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#steps-to-enter .steps .separator {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-block: 8px;
}

#steps-to-enter .steps .separator .right_arrow {
  display: none;
}

#stages {
  padding: 40px 20px;
  background: transparent
    radial-gradient(
      closest-side at 50% 46%,
      #ce005800 0%,
      #ce00581a 41%,
      #ffa3001a 75%,
      #ffa30000 100%
    )
    0% 0% no-repeat padding-box;
  background-color: #ce00581a;
}

#stages > h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: var(--deep-pink);
  margin-top: 0;
  margin-bottom: 16px;
}

#stages span {
  color: var(--charcoal-gray);
  margin-bottom: 40px;
}

#stages .timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background: linear-gradient(
    to bottom,
    var(--deep-pink) 85%,
    var(--charcoal-gray-ligth) 80%
  );
  border-radius: 3px;
}

#stages .timeline {
  position: relative;
  margin-top: 40px;
}

#stages .timeline .timeline_event {
  position: relative;
  margin-bottom: 40px; /* Space between events */
}

#stages .timeline .timeline_event .timeline_marker {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 3px;
  transform: translateX(-50%);
  z-index: 1;
}

#stages .timeline .timeline_event .first_event {
  top: -20px; /* Adjust the first marker higher */
}

#stages .timeline .timeline_event .event_details {
  display: flex;
  margin-left: 25px;
  column-gap: 30px;
}

#stages .timeline .timeline_event .event_details > .square {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  background-color: #faf9f7;
  border-radius: 3px;
}

#stages .timeline .timeline_event .event_details > .square img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#stages .timeline .timeline_event .event_details .specs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#stages .timeline .timeline_event .event_details .specs h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 56px;
  margin-block: 0;
}

#stages .timeline .timeline_event .event_details .specs div {
  color: var(--charcoal-gray);
}

#stages .timeline .timeline_event .event_details .specs div > h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 6px;
}

#previous-winners {
  padding: 40px 20px;
}

#previous-winners h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: var(--deep-pink);
  margin-top: 0;
  margin-bottom: 16px;
}

#previous-winners span.font-inter {
  display: block;
  color: var(--charcoal-gray);
  margin-bottom: 40px;
}

#previous-winners .carousel {
  padding-block: 24px;
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

#previous-winners .carousel .card {
  flex: 0 0 80%;
  scroll-snap-align: start;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
}

#previous-winners .carousel .card .thumbnail {
  display: flex;
  height: 187px;
  justify-content: center;
  align-items: center;
}

#previous-winners .carousel .card:nth-child(1) .thumbnail {
  background-image: url("../assets/images/reyna.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 40%;
}

#previous-winners .carousel .card:nth-child(2) .thumbnail {
  background-image: url("../assets/images/carolina.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 40%;
}

#previous-winners .carousel .card:nth-child(3) .thumbnail {
  background-image: url("../assets/images/idania.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 40%;
}

#previous-winners .carousel .card .thumbnail .play_button-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#previous-winners .carousel .card .thumbnail .play_button-circle .play_button {
  width: 0;
  height: 0;
  margin-left: 2px;
  /* padding-left: 10px; */
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid white;
}

#previous-winners .carousel .card .card_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  color: var(--charcoal-gray);
  font-family: "Inter", sans-serif;
  padding: 40px 24px;
}

#previous-winners .carousel .card .card_footer .card_footer-name {
  font-weight: 700;
  font-size: 18px;
}

#previous-winners .carousel .card .card_footer .card_footer-description {
  font-weight: 400;
}

#previous-winners .grid {
  display: none;
}

footer {
  padding: 40px 20px;
  margin-bottom: 40px;
}

footer > div .info {
  margin-bottom: 32px;
}

footer > div .info > img {
  object-fit: cover;
}

footer > div .info div {
  font-size: 14px;
  line-height: 24px;
  color: var(--charcoal-gray);
}

footer > div .info div > span {
  display: block;
  margin-bottom: 8px;
}

footer > div div div.socials {
  display: flex;
  column-gap: 32px;
  margin-bottom: 32px;
}

footer > div div div.socials a {
  cursor: pointer;
}

footer > div div div.font-inter a {
  color: var(--deep-pink);
}

footer address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

#video-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#video-modal .modal_content {
  background-color: white;
  margin: 5% auto;
  padding: 32px 16px 32px 16px;
  border-radius: 8px;
  width: 80%;
}

#video-modal .modal_content .closable_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

#video-modal .modal_content .closable_container img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#video-modal .modal_content video {
  width: 100%;
  height: 187px;
  border-radius: 8px;
}

/* MARK: DESKTOP */
@media (min-width: 1024px) {
  header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 998;
  }

  header img {
    margin-left: 120px;
  }

  header a {
    display: block;
    margin-right: 120px;
    padding: 10px 45px;
    border: none;
    font-weight: 500;
    text-decoration: underline;
    color: var(--deep-pink);
  }

  main {
    min-height: 92dvh;
  }

  main .image_mobile {
    display: none;
  }

  main .image_desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main div {
    display: none;
  }

  #start {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 60px;
    padding: 120px;
  }

  #start div {
    order: 2;
  }

  #start div p {
    font-size: 18px;
  }

  #start img {
    order: 1;
    height: 380px;
    border-radius: 8px;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }

  #how-to-enter {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 120px;
    column-gap: 60px;
  }

  #how-to-enter div h2 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }

  #how-to-enter div span {
    font-size: 18px;
    font-weight: 500;
  }

  #how-to-enter div ul li:not(:last-child) {
    margin-bottom: 8px;
  }

  #how-to-enter img {
    height: 380px;
    border-radius: 8px;
  }

  #steps-to-enter {
    padding-inline: 120px;
  }

  #steps-to-enter h3 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 72px;
  }

  #steps-to-enter span {
    display: none;
  }

  #steps-to-enter .steps {
    flex-direction: row;
    border-radius: 8px;
    padding: 16px 71px;
  }

  #steps-to-enter .steps .step_card {
    flex-basis: 33.333333%;
    box-shadow: none;
  }

  #steps-to-enter .steps .step_card > div {
    justify-content: center;
  }

  #steps-to-enter .steps .step_card h4 {
    text-align: center;
  }

  #steps-to-enter .steps .step_card p {
    text-align: center;
  }

  #steps-to-enter .steps .separator {
    align-items: center;
  }

  #steps-to-enter .steps .separator .down_arrow {
    display: none;
  }

  #steps-to-enter .steps .separator .right_arrow {
    display: block;
  }

  #stages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #stages h2 {
    font-size: 48px;
    margin-bottom: 32px;
  }

  #stages span.font-inter {
    font-size: 18px;
  }

  #stages .timeline::before {
    background: linear-gradient(
      to bottom,
      var(--deep-pink) 82%,
      var(--charcoal-gray-ligth) 80%
    );
  }

  #stages .timeline .timeline_event .event_details .square {
    width: 96px;
    height: 96px;
  }

  #stages .timeline .timeline_event .event_details .square img {
    width: 72px;
    height: 72px;
  }

  #previous-winners {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #previous-winners h2 {
    font-size: 48px;
    line-height: 56px;
    max-width: 600px;
    text-align: center;
    margin-bottom: 32px;
  }

  #previous-winners span.font-inter {
    font-size: 18px;
    margin-bottom: 72px;
  }

  #previous-winners .carousel {
    display: none;
  }

  #previous-winners .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
    width: 100%;
  }

  #previous-winners .grid .card {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
  }

  #previous-winners .grid .card .thumbnail {
    display: flex;
    height: 256px;
    justify-content: center;
    align-items: center;
  }

  #previous-winners .grid .card:nth-child(1) .thumbnail {
    background-image: url("../assets/images/reyna.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 40%;
  }

  #previous-winners .grid .card:nth-child(2) .thumbnail {
    background-image: url("../assets/images/carolina.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 40%;
  }

  #previous-winners .grid .card:nth-child(3) .thumbnail {
    background-image: url("../assets/images/idania.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 40%;
  }

  #previous-winners .grid .card .thumbnail .play_button-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #previous-winners .grid .card .thumbnail .play_button-circle .play_button {
    width: 0;
    height: 0;
    margin-left: 5px;
    border-top: 9.5px solid transparent;
    border-bottom: 9.5px solid transparent;
    border-left: 18px solid white;
  }

  #previous-winners .grid .card .card_footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 40px;
    font-family: "Inter", sans-serif;
    color: var(--charcoal-gray);
  }

  #previous-winners .grid .card .card_footer .card_footer-name {
    font-weight: 700;
    font-size: 20px;
  }

  footer {
    padding: 58px 120px 120px 120px;
    margin-bottom: 0;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
  }

  footer > div .info {
    display: flex;
    column-gap: 30px;
    margin-bottom: 0;
  }

  #video-modal .modal_content {
    padding: 32px 86px 129px 86px;
  }

  #video-modal .modal_content .closable_container img {
    width: 32px;
    height: 32px;
  }

  #video-modal .modal_content video {
    height: 614px;
  }
}