@import url("fonts.css");
@import url("reset.css");

:root {
  --rust-red: #b83021;
  --forest-green: #63963b;
  --deep-pink: #ce0058;
  --crimson: #960048;
  --charcoal-gray: #252a2d;
  --amber : #FFA300;
  --ligth-gray: #C0C0C0;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-bree {
  font-family: "Bree", sans-serif;
}

.active_stage {
  color: var(--deep-pink);
}

.active_marker {
  background-color: var(--deep-pink);
}

.inactive_stage {
  color: var(--charcoal-gray);
  opacity: 0.5;
}

.inactive_marker {
  background-color: var(--charcoal-gray);
}

.shadow-gray {
  box-shadow: 0px -3px 6px #00000029;
}

/* MARK: MOBILE */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-shadow: 0px 3px 6px #00000029;
}

header img {
  object-fit: cover;
  margin-left: 1rem;
}

header a {
  display: block;
  padding: 0.62rem 1.25rem;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  font-size: 1rem;
  color: var(--deep-pink);
  margin-right: 1rem;
}

main {
  position: relative;
}

main .image_mobile {
  display: block;
  object-fit: cover;
  height: auto;
  width: 100%;
}

main .image_desktop {
  display: none;
}

main div {
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-block: 11px;
  z-index: 998;
}

main div > button {
  font-weight: 700;
  padding: 18px 75px;
  color: white;
  border: none;
  background-color: var(--deep-pink);
  border-radius: 28px;
}

#start {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-block: 40px;
}

#start > div {
  padding: 0 20px 40px 20px;
  text-align: center;
}

#start > div p {
  margin-block: 0;
  color: var(--charcoal-gray);
  line-height: 28px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

#start span {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

#start strong {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

#start img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#start .carousel-container {
  overflow-x: hidden;
  white-space: nowrap;
  padding-left: 1.5rem;
  padding-bottom: 2.81rem;
  display: flex;
  justify-content: center;
}

#start .carousel-container .carousel {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
}

#start .carousel-container .carousel-button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 3.125rem;
  background: rgba(206, 0, 88, 0.20);
  color: var(--deep-pink);
  font-weight: 500;
  border: none;
  cursor: pointer;
}

#start .carousel-container .carousel-button.selected {
  background-color: var(--deep-pink);
  color: white;
}

#start .carousel-button:last-child {
  margin-right: 0;
}

#start .bubbles-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-bottom: 0;
}

#start .bubbles-container .bubbles {
  position: relative;
  height: 37vh;
  padding-bottom: 3rem;
}

#start .bubbles-container .bubbles .container-1 {
  position: absolute;
  left: 0.69rem;
  z-index: 1;
}

#start .bubbles-container .bubbles .container-1 .bubble img.bubble-1 {
  position: relative;
  width: 6.375rem;
  height: 6.375rem;
}

#start .bubbles-container .bubbles .container-1 .bubble .thumbs-1 {
  background-color: var(--deep-pink);
  border-radius: 50%;
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 0.5rem;
}

#start .bubbles-container .bubbles .container-1 .bubble .thumbs-1 img {
  position: absolute;
  z-index: 3;
  width: 0.61875rem;
  height: 0.61875rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#start .bubbles-container .bubbles .container-2 {
  position: absolute;
  left: 0rem;
  top: 12.5rem;
  z-index: 1;
}

#start .bubbles-container .bubbles .container-2 .bubble img.bubble-2 {
  width: auto;
  height: 6.375rem;
  position: relative;
}

#start .bubbles-container .bubbles .container-2 .bubble .thumbs-2 {
  background-color: var(--deep-pink);
  border-radius: 50%;
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  z-index: 2;
  bottom: 0rem;
  right: 0.5rem;
}

#start .bubbles-container .bubbles .container-2 .bubble .thumbs-2 img {
  position: absolute;
  z-index: 3;
  width: 0.61875rem;
  height: 0.61875rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#start .bubbles-container .bubbles .container-3 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#start .bubbles-container .bubbles .container-3 .bubble img.bubble-3 {
  width: 11.375rem;
  height: 11.375rem !important;
  position: relative;
  border-radius: 50%;
}

#start .bubbles-container .bubbles .container-3 .bubble .thumbs-3 {
  background-color: var(--deep-pink);
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  right: 0.5rem;
}

#start .bubbles-container .bubbles .container-3 .bubble .thumbs-3 img {
  position: absolute;
  z-index: 3;
  width: 1.0125rem;
  height: 1.0125rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#start .bubbles-container .bubbles .container-4 {
  position: absolute;
  right: -1rem;
  top: 1rem;
  transform: translate(-50%, 0);
  z-index: 1;
}

#start .bubbles-container .bubbles .container-4 .bubble img.bubble-4 {
  width: auto;
  height: 4.375rem;
  position: relative;
}

#start .bubbles-container .bubbles .container-4 .bubble .thumbs-4 {
  background-color: var(--deep-pink);
  border-radius: 50%;
  width: 1.0625rem;
  height: 1.0625rem;
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  right: 0rem;
}

#start .bubbles-container .bubbles .container-4 .bubble .thumbs-4 img {
  position: absolute;
  z-index: 3;
  width: 0.47813rem;
  height: 0.47813rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#start .bubbles-container .bubbles .container-5 {
  position: absolute;
  right: -2.4rem;
  top: 11.5rem;
  transform: translate(-50%, 0);
  z-index: 1;
}

#start .bubbles-container .bubbles .container-5 .bubble img.bubble-5 {
  width: auto;
  height: 6.5rem;
  position: relative;
}

#start .bubbles-container .bubbles .container-5 .bubble .thumbs-5 {
  background-color: var(--deep-pink);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  z-index: 2;
  bottom: -0.5rem;
  right: 0.5rem;
}

#start .bubbles-container .bubbles .container-5 .bubble .thumbs-5 img {
  position: absolute;
  z-index: 3;
  width: 0.6525rem;
  height: 0.6525rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#start .bubbles-container .bubbles .container-6, .container-7, .container-8, .container-9, .container-10, .container-11 {
  display: none;
}

#start .bubbles.hidden {
  display: none;
}

#start .group {
  display: none;
  height: 50vh;
  max-height: 300px;
}

#start .group p {
  margin-top: 0;
  margin-bottom: 1.12rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

#start .group .competitor-group {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#start .group .group-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--deep-pink);
  font-family: 'Bree';
}

#start .group .competitor-group .competitor {
  border: 2px solid var(--deep-pink);
  width: 10rem;
  height: 9rem;
  border-radius: 2.02706rem;
}

#start .group .competitor-group .competitor .competitor-img {
  margin-bottom: 0.62rem;
  position: relative;
}

#start .group .competitor-group .competitor .competitor-img img {
  margin-left: -0.5rem;
  margin-top: 0.2rem;
  width: 9.5rem;
  height: 8.5rem;
  z-index: 1;
  position: relative;
}

#start .group .competitor-group .competitor .name {
  position: absolute;
  left: 0.8rem;
  top: 7.5rem;
  background-color: var(--deep-pink);
  width: 8.75rem;
  height: 2.31881rem;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 0 0 var(--amber);
  z-index: 3;
}

#start .group .competitor-group .competitor .name p {
  color: white;
  font-size: 1rem;
  margin-top: 0.3rem;
}

#start .group .competitor-group .competitor .competitor-votes {
  display: flex;
  justify-content: space-between;
}

#start .group .competitor-group .competitor .competitor-votes .cup1 img {
  width: 2.8125rem;
  height: 2.875rem;
  margin-top: 0.5rem;
}

#start .group .competitor-group .competitor .competitor-votes .cup2 img {
  width: 1.875rem;
  height: 3.07825rem;
  margin-top: 0.5rem;
}

#start .group .competitor-group .competitor .competitor-votes .info {
  margin-right: 1rem;
}

#start .group .competitor-group .competitor .competitor-votes .info .percentage {
  color: var(--deep-pink);
  text-align: start;
  font-family: Inter;
  font-size: 1.91163rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

#start .group .competitor-group .competitor .actions {
  padding-top: 1rem;
}

#start .group .competitor-group .competitor .actions p {
  font-weight: 400;
  margin-bottom: 0.31rem;
  text-align: start;
}

#start .group .competitor-group .competitor .actions .watch-video {
  display: flex;
  justify-content: start;
}

#start .group .competitor-group .competitor .actions .watch-video p {
  color: var(--deep-pink);
  text-decoration: underline;
  cursor: pointer;
  font-family: 'inter';
  font-size: 0.9rem;
}

#start .group .competitor-group .competitor .actions .watch-video .play-button {
  width: 10px;
}

#start .group .competitor-group .competitor .actions .watch-video img {
  width: 0.8rem;
  height: auto;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

#start .group .competitor-group .competitor .actions button {
  display: block;
  width: 100%;
  border-radius: 28px;
  padding: 0.68rem;
  border: none;
  font-weight: 700;
  color: white;
  margin-top: 1rem;
  font-family: "inter";
  background-color: var(--deep-pink);
}

#start .group.block {
  display: block;
}

#share hr {
  margin: 2rem;
  border-width: 1px;
  border-color: #D8DADA;
}

#share {
  text-align: center;
}

#share p {
  padding-top: 1.5rem;
  font-family: "inter";
}

#share .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
}

#share .socials button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deep-pink);
  border-radius: 0.4375rem;
  width: 2.8125rem;
  height: 2.8125rem;
  border: none;
  cursor: pointer
}

#share .socials img{
  width: 1.125rem;
  height: 1.3125rem;
  border-radius: 0.4375rem;
  border: 0;
  margin:0;
}

h1 {
  font-weight: 500;
  color: var(--deep-pink);
  font-size: 3rem;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 2rem;
}

footer {
  padding: 40px 20px;
  margin-bottom: 40px;
}

footer > div .info {
  margin-bottom: 32px;
}

footer > div .info > img {
  object-fit: cover;
}

footer > div .info > img.logo {
  cursor: pointer;
}

footer > div .info div {
  font-size: 14px;
  line-height: 24px;
  color: var(--charcoal-gray);
}

footer > div .info div > span {
  display: block;
  margin-bottom: 8px;
}

footer > div div div.socials {
  display: flex;
  column-gap: 32px;
  margin-bottom: 32px;
}

footer > div div div.socials a {
  cursor: pointer;
}

footer > div div div.font-inter a {
  color: var(--deep-pink);
}

footer address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

#video-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#video-modal .modal_content {
  background-color: white;
  margin: 5% auto;
  padding: 0 0 16px 0;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-modal .modal_content .closable_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#video-modal .modal_content .closable_container .video-competitor-name {
  font-size: 1.5625rem;
  font-weight: 500;
  color: var(--deep-pink);
  margin-left: 16px;
}

#video-modal .modal_content .closable_container img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 16px;
}

#video-modal .modal_content video {
  width: 100%;
  height: 187px;
  border-radius: 8px;
}

#player {
  width: 100%;
  height: 25vh;
}


#video-modal .modal_content .competitor-votes-container {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-top: 10px;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes .cup1 img {
  width: 2.8125rem;
  height: 2.875rem;
  margin-top: 0.5rem;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes .cup2 img {
  width: 1.875rem;
  height: 3.07825rem;
  margin-top: 0.5rem;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes .info {
  margin-right: 1rem;
  font-family: Inter;
  margin-left: 1rem;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes .info .percentage {
  color: var(--deep-pink);
  text-align: start;
  font-family: Inter;
  font-size: 1.91163rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
}

#video-modal .modal_content .competitor-votes-container .competitor-votes .info p {
  margin-bottom: 0;
  margin-top: 0;
}


/* END MOBILE */

/* MARK: DESKTOP */
@media (min-width: 1024px) {
  header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 998;
  }

  header img {
    margin-left: 120px;
  }

  header a {
    display: block;
    margin-right: 120px;
    padding: 10px 45px;
    border: none;
    font-weight: 500;
    text-decoration: underline;
    color: var(--deep-pink);
  }

  main {
    min-height: 60dvh;
  }

  main .image_mobile {
    display: none;
  }

  main .image_desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main div {
    display: none;
  }

  #start {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 7.5rem 7.5rem 7.5rem;
  }

  #start .subtitle {
    max-width: 36.85rem;
    margin: auto;
  }

  #start span {
    font-size: 1.25rem;
  }

  #start strong {
    font-size: 1.25rem;
  }

  #start div {
    order: 2;
  }

  #start div h1 {
    margin-bottom: 1.56rem;
  }

  #start div p {
    font-size: 18px;
  }

  #start .carousel-container {
    padding-bottom: 0;
  }

  #start .bubbles-container {
    display: flex;
    justify-content: center;
  }

  #start .bubbles-container .bubbles {
    position: relative;
    height: 40vh;
    top: 6.94rem;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }

  #start .bubbles-container .bubbles .container-1, .container-2, .container-4, .container-5 {
    display: none;
  }

  #start .bubbles-container .bubbles .container-3 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-3 .bubble img.bubble-3 {
    height: 14.25rem;
  }

  #start .bubbles-container .bubbles .container-3 .bubble .thumbs-3 {
    width: 2.3125rem;
    height: 2.3125rem;
    bottom: 1rem;
  }

  #start .bubbles-container .bubbles .container-3 .bubble .thumbs-3 img {
    width: 1.49063rem;
    height: 1.49063rem;
    border-radius: 50%;
  }

  #start .bubbles-container .bubbles .container-6 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-6 .bubble img.bubble-6 {
    width: auto;
    height: 6.75rem;
    position: relative;
  }

  #start .bubbles-container .bubbles .container-6 .bubble .thumbs-6 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1.8125rem;
    height: 1.8125rem;
    position: absolute;
    z-index: 2;
    bottom: 0.5rem;
    right: 0;
  }

  #start .bubbles-container .bubbles .container-6 .bubble .thumbs-6 img {
    position: absolute;
    z-index: 3;
    width: 0.81563rem;
    height: 0.81563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-7 {
    position: absolute;
    left: 15%;
    bottom: 2.87rem;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-7 .bubble img.bubble-7 {
    width: auto;
    height: 6.8125rem;
    position: relative;
  }

  #start .bubbles-container .bubbles .container-7 .bubble .thumbs-7 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1.8125rem;
    height: 1.8125rem;
    position: absolute;
    z-index: 2;
    bottom: 0.5rem;
    right: 0;
  }

  #start .bubbles-container .bubbles .container-7 .bubble .thumbs-7 img {
    position: absolute;
    z-index: 3;
    width: 0.81563rem;
    height: 0.81563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-8 {
    position: absolute;
    left: 29%;
    top: 2.5rem;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-8 .bubble img.bubble-8 {
    width: auto;
    height: 3.625rem;
    position: relative;
  }

  #start .bubbles-container .bubbles .container-8 .bubble .thumbs-8 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 2;
    bottom: 0.5rem;
    right: 0;
  }

  #start .bubbles-container .bubbles .container-8 .bubble .thumbs-8 img {
    position: absolute;
    z-index: 3;
    width: 0.65563rem;
    height: 0.65563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-9 {
    position: absolute;
    right: 10%;
    top: 1rem;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-9 .bubble img.bubble-9 {
    width: 9.5rem;
    height: 9.5rem;
    position: relative;
    border-radius: 50%;
  }

  #start .bubbles-container .bubbles .container-9 .bubble .thumbs-9 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1.8125rem;
    height: 1.8125rem;
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 0.5rem;
  }

  #start .bubbles-container .bubbles .container-9 .bubble .thumbs-9 img {
    position: absolute;
    z-index: 3;
    width: 0.81563rem;
    height: 0.81563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-10 {
    position: absolute;
    right: 6%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-10 .bubble img.bubble-10 {
    width: auto;
    height: 4.5rem;
    position: relative;
  }

  #start .bubbles-container .bubbles .container-10 .bubble .thumbs-10 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1.1875rem;
    height: 1.1875rem;
    position: absolute;
    z-index: 2;
    bottom: 0.5rem;
    right: 0rem;
  }

  #start .bubbles-container .bubbles .container-10 .bubble .thumbs-10 img {
    position: absolute;
    z-index: 3;
    width: 0.81563rem;
    height: 0.81563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-11 {
    position: absolute;
    right: -9%;
    top: 3.5rem;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  #start .bubbles-container .bubbles .container-11 .bubble img.bubble-11 {
    width: 6.75rem;
    height: 6.75rem;
    position: relative;
    border-radius: 50%;
  }

  #start .bubbles-container .bubbles .container-11 .bubble .thumbs-11 {
    background-color: var(--deep-pink);
    border-radius: 50%;
    width: 1.8125rem;
    height: 1.8125rem;
    position: absolute;
    z-index: 2;
    bottom: 0.2rem;
    right: 0;
  }

  #start .bubbles-container .bubbles .container-11 .bubble .thumbs-11 img {
    position: absolute;
    z-index: 3;
    width: 0.81563rem;
    height: 0.81563rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #start .bubbles-container .bubbles .container-6, .container-7, .container-8, .container-9, .container-10, .container-11 {
    display: block;
  }

  #start .group {
    display: none;
    height: 60vh;
    max-height: 400px;
    margin-top: 4.5rem;
  }

  #start .group .group-title {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
  }

  #start .group p {
    margin-bottom: 3.38rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
  }

  #start .group .competitor-group {
    display: flex;
    justify-content: center;
    gap:4.5rem;
  }

  #start .group .competitor-group .competitor {
    border: 4px solid var(--deep-pink);
    width: 18rem;
    height: 15rem;
    border-radius: 3.857rem;
  }

  #start .group .competitor-group .competitor .description {
    padding-bottom: 0 !important;
    font-weight: 500 !important;
  }

  #start .group .competitor-group .competitor .competitor-img img {
    border-radius: 3.857rem;
    width: 18.34275rem;
    height: 15.39081rem;
    object-position: center top;
    margin-top: 0.5rem;
  }

  #start .group .competitor-group .competitor .name {
    left: 2rem;
    top: 14rem;
    background-color: var(--deep-pink);
    width: 14.30431rem;
    height: 2.47119rem;
    border-radius: 0rem 2.5375rem;
    box-shadow: -8px 0 0 var(--amber);
  }

  #start .group .competitor-group .competitor .name p {
    padding-top: 0.5rem;
    color: white;
    font-size: 1.5225rem;
    margin:0;
  }

  #start .group .competitor-group .competitor .competitor-votes {
    justify-content: start;
  }
  
  #start .group .competitor-group .competitor .competitor-votes .cup1 img {
    width: 4.1875rem;
    height: 4.375rem;
  }

  #start .group .competitor-group .competitor .competitor-votes .cup2 img {
    width: auto;
    height: 4.1875rem;
    margin-top: 1rem;
  }

  #start .group .competitor-group .competitor .competitor-votes .info {
    margin-left: 2rem;
  }

  #start .group .competitor-group .competitor .competitor-votes .info .percentage {
    padding-bottom: 0 !important;
    margin-top: 1rem;
  }

  #start .group .competitor-group .competitor .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #start .group .competitor-group .competitor .actions .history {
    flex-grow: 1;
    margin-right: auto;
  }

  #start .group .competitor-group .competitor .actions .history p {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  #start .group .competitor-group .competitor .actions .history .watch-video {
    color: var(--deep-pink);
    text-decoration: underline;
  }

  #start .group .competitor-group .competitor .actions button {
    border-radius: 28px;
    padding: 0.875rem 0.5rem;
    border: none;
    font-weight: 700;
    color: white;
    background-color: var(--deep-pink);
  }

  #start .group .competitor-group .competitor .actions img {
    width: 0.92738rem;
    height: 0.82431rem;
    margin-left: 0.2rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 56px;
    margin-bottom: 32px;
  }

  footer {
    padding: 58px 120px 58px 120px;
    margin-bottom: 0;
    height: 15vh;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
  }

  footer > div .info {
    display: flex;
    column-gap: 30px;
    margin-bottom: 0;
  }

  #video-modal .modal_content {
    background-color: white;
    margin: 5% auto;
    padding: 32px 16px 32px 16px;
    border-radius: 8px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #video-modal .modal_content {
    padding: 0;
    margin: 5% auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "video"
      "closable"
      "button";
  }

  #video-modal .modal_content video {
    height: 100%;
    grid-area: video;
  }

  #video-modal .modal_content .closable_container {
    grid-area: closable;
    margin: 0 auto 0 2rem;
    max-width: 90%;
  }

  #video-modal .modal_content .closable_container .video-competitor-name {
    margin-left: 0;
    margin-bottom: 0.3rem;
  }

  #video-modal .modal_content .closable_container img {
    width: 32px;
    height: 32px;
    margin-top: 1rem;
  }
  
  #video-modal .modal_content .competitor-votes-container {
    margin: 0 auto 2rem 1rem;
  }

  #player {
    width: 100%;
    height: 50vh;
  }
}

@media (min-width: 2000px) {
  #start .bubbles-container .bubbles .container-9 {
    right: 20%;
  }

  #start .bubbles-container .bubbles .container-10 {
    right: 10%;
  }

  #start .bubbles-container .bubbles .container-11 {
    right: -4%;
  }
}
