@import url("fonts.css");
@import url("reset.css");

:root {
  --grape-purple: #64257e;
  --pumpkin-orange: #ee7b0f;
  --lime-green: #95c11f;
  --charcoal-gray: #252a2d;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-amorsans {
  font-family: "AmorSans", sans-serif;
}

.font-verdana {
  font-family: "Verdana", sans-serif;
}

.container {
  padding-inline: 21px;
  margin-inline: auto;
  max-width: 1200px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.highlight {
  color: var(--grape-purple);
}

/* MARK: MOBILE */
header {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: white;
}

header img {
  object-fit: cover;
}

header a {
  color: var(--grape-purple);
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

main {
  margin-bottom: 58px;
}

main .mobile_background {
  width: 100%;
  object-fit: cover;
}

main .desktop_background {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  text-align: center;
  color: var(--grape-purple);
  margin-top: 0;
  margin-bottom: 25px;
}

#votes > p {
  text-align: center;
  font-weight: 500;
  line-height: 32.94px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 38px;
  color: var(--charcoal-gray);
}

#votes .votes_container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  padding-inline: 10.75px;
  padding-bottom: 56px;
  max-width: 1200px;
  row-gap: 38px;
}

#votes .votes_container .competitor_container {
  display: flex;
  column-gap: 25px;
}

#votes .votes_container .competitor_container .framework {
  position: relative;
  width: 163.326px;
  height: 175.192px;
  border-radius: 29.336px;
  border: 1.901px solid var(--pumpkin-orange);
  flex-basis: 48%;
}

#votes .votes_container .competitor_container .framework .competitor_image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 29.336px;
  border: 1.93px solid white;
  top: 5.73px;
  right: 4.68px;
  overflow: hidden;
  box-shadow: 0px 1.901px 1.901px 0px rgba(0, 0, 0, 0.25);
}

#votes .votes_container .competitor_container .framework .competitor_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#votes .votes_container .competitor_container .framework .competitor_name {
  position: absolute;
  width: 126.632px;
  display: inline-flex;
  justify-content: center;
  padding: 7.4px 0 8.16px 0;
  text-align: center;
  background-color: var(--pumpkin-orange);
  bottom: -13.85px;
  left: calc(50% - 4.68px);
  transform: translateX(-50%);
  border-radius: 0px 19.3px 0px 19.3px;
  border-left: 3.62px solid var(--lime-green);
}

#votes .votes_container .competitor_container .framework .competitor_name span {
  color: white;
  font-weight: 700;
  font-size: 14.472px;
  line-height: 19.45px;
  text-align: center;
}

#votes .votes_container .competitor_container .competitor_container-footer {
  flex-basis: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5.98px;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  > span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.352px;
  color: var(--charcoal-gray);
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .competition_results-container {
  display: flex;
  column-gap: 23.92px;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .competition_results-container
  .results-percentage {
  display: inline-flex;
  flex-direction: column;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .competition_results-container
  .results-percentage
  span {
  display: block;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .competition_results-container
  .results-percentage
  .percentage {
  color: var(--grape-purple);
  font-size: 36.581px;
  font-weight: 500;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .story-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  > div
  > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 33.489px;
  color: var(--grape-purple);
  text-decoration: underline;
  cursor: pointer;
}

#votes
  .votes_container
  .competitor_container
  .competitor_container-footer
  .story-container
  img {
  cursor: pointer;
  width: 15.74px;
  height: 15.74px;
}

.line {
  max-width: 1200px;
  border-top: 1px solid #d8dada;
  margin-inline: 19px;
}

#socials {
  padding-block: 44px;
}

#socials > div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.45px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--charcoal-gray);
}

#socials > div .socials_container {
  display: flex;
  column-gap: 11px;
  justify-content: center;
  align-items: center;
}

#socials > div .socials_container div {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 7px;
  background-color: var(--grape-purple);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding-block: 40px;
}

footer .yastas_info {
  display: flex;
  flex-direction: column;
}

footer .yastas_info > div:first-child {
  margin-bottom: 24px;
}

footer .yastas_info > div:nth-child(2) {
  margin-bottom: 32px;
}

footer .yastas_info > div > img {
  object-fit: cover;
}

footer .yastas_info div > span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--charcoal-gray);
  margin-bottom: 8px;
}

footer .yastas_info div .copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--charcoal-gray);
}

footer .yastas_info .facebook {
  width: 24px;
  height: 24px;
  border-radius: 7px;
  background-color: var(--grape-purple);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#video-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#video-modal .modal_content {
  background-color: white;
  margin: 5% auto;
  padding: 11px 0 10.81px 0;
  border-radius: 8px;
  width: 80%;
}

#video-modal .modal_content .closable_container-mobile {
  display: flex;
  justify-content: space-between;
  padding: 0 17px 0 20px;
  margin-bottom: 12px;
}

#video-modal .modal_content .closable_container-mobile span {
  display: block;
}

#video-modal
  .modal_content
  .closable_container-mobile
  span#participant-name-video {
  font-size: 25px;
  font-weight: 700;
  line-height: 41.17px;
  color: var(--grape-purple);
}

#video-modal .modal_content .closable_container-mobile img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

#video-modal .modal_content iframe {
  width: 100%;
  height: 187px;
}

#video-modal .modal_content .competition_results-container {
  display: flex;
  padding: 13px 25px 10px 25px;
}

#video-modal
  .modal_content
  .competition_results-container
  .closable_container-desktop {
  display: none;
}

#video-modal
  .modal_content
  .competition_results-container
  .competition_results {
  display: flex;
  column-gap: 16px;
}

#video-modal
  .modal_content
  .competition_results-container
  .competition_results
  .results-percentage {
  display: inline-flex;
  flex-direction: column;
}

#video-modal
  .modal_content
  .competition_results-container
  .competition_results
  .results-percentage
  .percentage {
  color: var(--grape-purple);
  font-size: 24.581px;
  font-weight: 500;
}

/* MARK: DESKTOP */
@media (min-width: 1024px) {
  header {
    padding: 16px 120px;
  }

  main {
    margin-bottom: 87px;
  }

  main .mobile_background {
    display: none;
  }

  main .desktop_background {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #votes p {
    margin-bottom: 48.43px;
  }

  #votes .votes_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 34px;
    padding-bottom: 71px;
  }

  #votes .votes_container .competitor_container {
    flex-direction: column;
  }

  #votes .votes_container .competitor_container .framework {
    width: 295.296px;
    height: 254.577px;
    border-radius: 52.719px;
    border: 3.417px solid var(--pumpkin-orange);
    margin-bottom: 34.42px;
    flex-basis: auto;
  }

  #votes .votes_container .competitor_container .framework .competitor_image {
    width: 100%;
    height: 100%;
    border-radius: 52.719px;
    border: 3.468px solid white;
    top: 8.32px;
    right: 8.45px;
    box-shadow: 0px 3.417px 3.417px 0px rgba(0, 0, 0, 0.25);
  }

  #votes .votes_container .competitor_container .framework .competitor_name {
    width: 228.869px;
    padding: 6.44px 0 8.09px 0;
    bottom: -19.42px;
    border-radius: 0px 34.7px 0px 34.7px;
    border-left: 6.04px solid var(--lime-green);
  }

  #votes
    .votes_container
    .competitor_container
    .framework
    .competitor_name
    span {
    color: white;
    font-weight: 700;
    font-size: 24.36px;
    line-height: 29.61px;
  }

  #votes .votes_container .competitor_container .competitor_container-footer {
    flex-basis: auto;
    row-gap: 10px;
    align-self: center;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 29.646px;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    .competition_results-container {
    column-gap: 25px;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    .competition_results-container
    .results-percentage
    .percentage {
    font-size: 30.586px;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    .story-container {
    justify-content: unset;
    column-gap: 9px;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    .story-container
    img {
    width: 14px;
    height: 14px;
  }

  .line {
    margin-inline: auto;
  }

  #socials {
    padding-block: 100px;
  }

  footer .yastas_info {
    flex-direction: row;
    column-gap: 9px;
  }

  footer .yastas_info div .copyright {
    margin-bottom: 0;
  }

  footer .yastas_info .facebook {
    margin: auto;
  }

  #video-modal .modal_content {
    padding: 0;
    border-radius: 0 0 8px 8px;
    width: fit-content;
  }

  #video-modal .modal_content .closable_container-mobile {
    display: none;
  }

  #video-modal .modal_content iframe {
    width: 657px;
    height: 374px;
  }

  #video-modal .modal_content .competition_results-container {
    flex-direction: column;
    padding: 33px 24px 24px 33px;
  }

  #video-modal
    .modal_content
    .competition_results-container
    .closable_container-desktop {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  #video-modal
    .modal_content
    .competition_results-container
    .closable_container-desktop
    span#participant-name-video {
    font-size: 25px;
    font-weight: 700;
    line-height: 41.175px;
    color: var(--grape-purple);
  }

  #video-modal .modal_content .competition_results-container > div > img {
    display: block;
    cursor: pointer;
  }
}

/* MARK: OLDEST PHONES */
@media (max-width: 430px) {
  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    .competition_results-container {
    column-gap: normal;
    justify-content: space-between;
  }

  #votes
    .votes_container
    .competitor_container
    .competitor_container-footer
    > div
    > span {
    font-size: 13px;
  }
}
